packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
### Ansible ###
*.retry
.vscode
jdauphant.nginx
vault.key
.vagrant/
*.box
*.log
*.pyc
*.molecule
*.cache
*.pytest_cache
