cloud_id                 = "cloud_id"
folder_id                = "floder_id"
zone                     = "zone"
image_id                 = "image_id"
subnet_id                = "subnet_id"
service_account_key_file = "path_to_access_key"
public_key_path          = "path_to_public_key"
connection_private_key   = "path_to_private_key"
replicas                 = "1"
